@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --bg: #1A2D3A;
  --second-bg: #F8F9F6;
  --accent: yellow;
  --text-light: #ffffff;
  --text-dark: #1A2D3A;
  --primary: #5AC6CD;
  --muted: #C8C8D0;
  --card: white;;
  --border:#4F4D5F;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Oswald", sans-serif;
font-family: "Roboto", sans-serif; */

/* Typography */
body {
    margin: 0;
    font-size: 1rem; /* 16px for body text */
    font-family: "Roboto", sans-serif; 
    line-height: 1.5;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;   /* 48x */
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.4;
}

h4 {
  font-size: 1.125rem; /* 18px */
}

p {
  margin-bottom: 1rem;
}

/* Containers */
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1149px;
}

.accent {
  color: var(--accent); 
}

/* Buttons */
.btn {
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  transition: background-color .2s ease, transform .8s ease;
}

.btn:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.btn--primary {
  width: 200px;
  background-color: var(--primary); 
  color: #000;
  margin: 0 auto;
}

/* Hero */
.hero {
  background: url('../Components/Assets/heroMedia.webp') no-repeat  center/cover;
  padding: 40px 20px;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1A2D3A;
  background: linear-gradient(42deg, rgba(26, 45, 58, 1) 29%, rgba(26, 45, 58, 0.5) 100%);
  z-index: 0;
}

.hero__image {
  display: none; /* Hidden on mobile */
  z-index: 1;
}

.hero__text {
  margin: 2em 0;
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.hero__title {
  text-align: center;
  z-index: 1;
}

.hero__tagline {
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.hero__btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2em;
  align-items: center;
  z-index: 1;
}


/* About */
.about {
  text-align: center;
  padding: 4rem 0;
  color: var(--text-dark);
  background-color: var(--second-bg)
}

.about-text__title {
  margin-bottom: 2rem;
}

.about-text {
  margin-bottom: 2rem;
}


.about-image img {
  border-radius: 10px;
}

/* How it works */
.how-it-works {
  background-color: var(--second-bg);;
  padding: 4rem 0;
  text-align: center;
}

.how-it-works__title {
  margin-bottom: 2rem;
}

.cards {
  list-style: none;
  padding: 0; margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  background-color: var(--card);
  border: solid 1px rgb(211, 209, 209);
  border-radius: 10px;
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  height:100%
}

.card-icon {
  width: 50px;
  height: 50px;
}

/* Explore Heritage */
.explore-heritage {
  padding: 4rem 0;
  text-align: center;
  color: var(--text-dark);
}

.explore-heritage__title {
  margin-bottom: 2rem;
}

.explore-heritage img {
  border-radius: 10px;
}

/* What is LiDAR */
.what-is-lidar {
  padding: 4rem 0;
  text-align: center;
}

.what-is-lidar__text__title {
  margin-bottom: 2rem;
}


/* Contribute */
.contribute {
  background-color: var(--bg);
  color: var(--text-light);
  padding-top: 4rem;
}

.contribute__text {
  text-align: center;
}

.contribute_title {
  margin-bottom: 2rem;
}



@media (min-width: 900px) {
  .hero-content{
    display: flex;
    gap: 3rem;
  }
  .hero__image {
    display: block; 
    margin: auto;
    max-width: 450px;
  }
  .hero__title, .hero__tagline {
    text-align: left;
  }
  .hero__text {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2em;
    align-items: flex-start;
  }
}

@media (min-width: 700px) {
  .content{
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .reverse-content {
    flex-direction: row-reverse;
    gap: 3rem;
  }
  .about-text, .about-image {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
  }
  .how-it-works__title {
    text-align: center;
  }
  ul {
    align-items: stretch;
  }
  li {
    flex: 1;
  }
  .explore-heritage__text, .explore-heritage__img {
    flex: 1;
    text-align: left;
  }
  .what-is-lidar__text {
    text-align: left;
    gap: 3rem;
  }
  .what-is-lidar__text, .what-is-lidar__img {
    flex: 1;
    text-align: left;
  }
  .lidar-info {
    justify-content: flex-start;
  }
}